form {
  font-family: Chinese Quote,-apple-system,BlinkMacSystemFont,Segoe UI,PingFang SC,Hiragino Sans GB,Microsoft YaHei,Helvetica Neue,Helvetica,Arial,sans-serif;
}

label, option {
  font-size: 14px;
  color: rgba(0,0,0,.65);
}

.form-select { width: 100%; height: 36px; }

.phone-disable { width: 61px; height: 36px;}

.admin-modal-table {
  width: 100%;
  border-collapse: collapse;
}

.admin-modal-table td,
.admin-modal-table th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

.admin-modal-table tr:nth-child(even) {
    background-color: #dddddd;
}

.fit-image{
  width: 100%;
  object-fit: cover;
  height: 300px; /* only if you want fixed height */
}

.dropzone-style {
  height: 300px;
  width: 100%;
  border: 1px dashed;
  padding: 7rem 0;
  margin: 1rem 0;
}
