.admin-navbar{
  background-color:#212d33;
  border-color:#666 !important;
  border-width:0 0 .1px 0 !important;
}

.dashboard-grid{
  display: -ms-grid;
  display:grid;
  grid-template-columns: 1fr 8fr;
}

.sidebar{
  min-height:100vh;
  background-color:#212d33;
  li{
    list-style:none;
    padding:10px;
  }
  li:hover{
    background: lighten(#212d33,4);;
  }
  li.active{
    position:relative;
    background: darken(#212d33,3);
  }
  .children > li{
    padding-left:25px;
  }
  .children li.active{
    background: lighten(#212d33,3);
  }
  li.active + div > li:after{
    content:"\25C4";
    color:#fff;
    position:absolute;
    top:5px;
    right:-2px;
    font-size:25px;
    font-weight:bold;
  }
  a{
    color:#fff;
    display:block;
    font-size:16px;
    padding-left:10px;
  }
  a:hover{
    text-decoration:none;
    color:#fff;
  }
  i{
    font-size:25px !important;
    padding:0 5px;
  }
}
