html{
  overflow-x:hidden;
}

#topmenu{
  background-color:$dark;
}

#topbar{
  height:50px;
}

#menu{
  background-color: $darker;
}

#logo{
  background-color:$primary;
  padding-left:250px !important;
  height:100px;
  img{
    position:absolute;
    top:0;
    left:250px;
    height:90px;
  }

  + div{
    width:100%;
    display:block;
    text-align:right;
  }
}

#navbar{
  height:80px;
}
 
#homebanner{
  max-width:1920px;
  height:auto;
  background-image: url('/img/wasport_homebanner.jpg');
  background-repeat: no-repeat;
}

/*NAV*/

.dropdown-menu{
  width:350px;
  left:-100px !important;
}

.sign-in:active {
    color: inherit; 
    text-decoration: none;
    background-color: inherit;
}

.locale{
  text-transform:uppercase;
}

.loggedIn .dropdown-menu{
  left:-20px !important;
}

.loginFb{
  background-color:#3B5998;
}

.bg-gray{
  background-color:#EAEBEB;
}

.howitworks{
  position:relative;
}

h2{
  font-weight:bold;
}

.howitworks h2{
  margin-bottom:25px;
}

.howitworks h3:before{
  content: "";
  display:inline-block;
  width:50px;
  height:50px;
  vertical-align:middle;
}

.howitworks .one:before{
    background:url('/img/flag1.png') no-repeat;
}

.howitworks .two:before{
    background:url('/img/flag2.png') no-repeat;
}

.howitworks .three:before{
    background:url('/img/flag3.png') no-repeat;
}

.howitworks .four:before{
    background:url('/img/flag4.png') no-repeat;
}

.line{
  width:100%;
  border-bottom:dotted 2px red;
  position:absolute;
  top:105px;
}

.howitworks p {
  padding: 15px 0;
}

.wbtn{
  border-radius:25px;
  padding:5px 30px;
  font-size:18px;
  text-transform:uppercase;
}

.ql-editor{
  min-height:500px;
  overflow:auto;
}